@font-face {
    font-family: 'Product Sans';
    font-style: normal;
    font-weight: 400;
    src: local('Open Sans'), local('OpenSans'), url(https://fonts.gstatic.com/s/productsans/v5/HYvgU2fE2nRJvZ5JFAumwegdm0LZdjqr5-oayXSOefg.woff2) format('woff2');
}  

html, body{
    margin:0px;
    height:100%;
    background-image: url('./Images/background.webp');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

body{
    font-family: "Product Sans";
    position: relative;
}

#title{
    background-image: url("./Images/legno2.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 140% 450%;
    position: relative;
    height: 15%;
    text-align: center;
    font-family: 'Product Sans';
    /* background: rgba(255, 255, 255, 0.7); */
    border-radius: 1vw;
    margin: 0.3vw;   
}

#bar{
    height: 15%;
    width: 100%;
}

#game{
    height: 55%;
    width:100%;
    
}

#statistics{
    height: 8%;
    width: 100%;

}

#options{
    height: 5%;
    width: 100%;
    position: relative;
    text-align: center;
    font-size: 200%;
}


#titleText{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 4.3vw;
    color: rgba(51, 51, 51);
    padding-bottom: 2.5%;
    padding-top: 2.5%;
    padding-right: 2.9vw;
    text-align: center;
    display: inline-block;
    vertical-align: middle;
    line-height: normal;
}

#gameButton{
    position: relative;
    float: left;
    width: 32%;
    height: 100%;
}

#state{
    background-image: url("./Images/legno2.webp");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 77% 96%;
    position: relative;
    float:left;
    width: 36%;
    height:100%;
    
}

#leaderboard{
    position: relative;
    float:left;
    width: 32%;
    height: 100%;
}


#upperGame{
    height: 50%;
    width: 100%;
}

#lowerGame{
    height: 50%;
    width: 100%;
}

.buttonContainer{
    position: relative;
    width: 25%;
    height: 100%;
    float: left;
}

#score{
    background-image: url("./Images/legno2.webp");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 55% 100%;
    position: relative;
    width: 25%;
    height: 100%;
    float: left;
    text-align: center;
}

#level{
    background-image: url("./Images/legno2.webp");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 55% 100%;
    position: relative;
    width: 25%;
    height: 100%;
    float: left;
}

#record{
    background-image: url("./Images/legno2.webp");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 60% 100%;
    position: relative;
    width: 25%; 
    height: 100%;
    float: left;
}

#time{
    background-image: url("./Images/legno2.webp");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 85% 100%;
    position: relative;
    width: 25%; 
    height: 100%;
    float: left;
}


#timeDiv{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* background: rgba(255, 255, 255, 0.7); */
    border-radius: 1vw;
    border: 0ch;
    padding: 0.3vw;
    padding-left: 0.5vw;
    padding-right: 0.5vw;
    font-size: 2vw;
}

#scoreDiv{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* background: rgba(255, 255, 255, 0.7); */
    border-radius: 1vw;
    border: 0ch;
    padding: 0.3vw;
    padding-left: 0.5vw;
    padding-right: 0.5vw;
    font-size: 2vw;
}

#recordDiv{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* background: rgba(255, 255, 255, 0.7); */
    border-radius: 1vw;
    border: 0ch;
    padding: 0.3vw;
    padding-left: 0.5vw;
    padding-right: 0.5vw;
    font-size: 2vw;
}

#levelDiv{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* background: rgba(255, 255, 255, 0.7); */
    border-radius: 1vw;
    border: 0ch;
    padding: 0.3vw;
    padding-left: 0.5vw;
    padding-right: 0.5vw;
    font-size: 2vw;
}

#gameButtonDiv{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#stateDiv{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: rgba(51, 51, 51);
    /* background: rgba(255, 255, 255, 0.7);   */
    border-radius: 1vw;
    border: 0ch;
    padding: 1vw;
}

#stateSpan{
    font-size: 2.5vw;
    text-align: center;
    padding-left: 0.2vw;
    padding-right: 0.2vw;
}

#leaderboardDiv{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.pesceImage{
    width: 75%;
    height: 100%;
}

.pesceButton{
    width: 80%;
    height: 80%;
    background: rgba(255, 255, 255, 0.7);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
    position: absolute;
    border: 2px solid aquamarine;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 1vw;
}


#button0{
    background-image: url("./Images/pesce1.webp");
}
#button1{
    background-image: url("./Images/pesce2.webp");
}
#button2{
    background-image: url("./Images/pesce3.webp");
}
#button3{
    background-image: url("./Images/pesce4.webp");
}
#button4{
    background-image: url("./Images/pesce5.webp");
}
#button5{
    background-image: url("./Images/pesce6.webp");
}
#button6{
    background-image: url("./Images/pesce7.webp");
}
#button7{
    background-image: url("./Images/pesce8.webp");
}

#youLostP{
    font-size: 30px;
    font-weight: bold;
    color: red;
    text-align: center;
    font-family: 'Product Sans';
}

.scoreRecordP{
    padding-left: 7%;
    font-size: 20px;
    color: black;
    font-family: 'Product Sans';
}

.scoreRecordP2{
    font-size: 20px;
    color: black;
    text-align: center;
    font-weight: bolder;
    font-family: 'Product Sans';
}

#startButton{
    font-size: 2.5vw;
    text-align: center;
    background: rgba(255, 255, 255, 0.7);
    border: 2px solid aquamarine;
    border-radius: 1vw;
}

#leaderboardButton{
    font-size: 2.5vw;
    background: rgba(255, 255, 255, 0.7);
    border: 2px solid aquamarine;
    border-radius: 1vw;
}

button {
    border-style: solid black;
    padding: 15px 25px;
    font-size: 24px;
    text-align: center;
    cursor: pointer;
    outline: none;  
    border: none;
    border-radius: 15px;
    box-shadow: 0 6px rgb(0, 208, 255);
  }
  
button:active {
    box-shadow: 0 5px rgb(0, 132, 255);
    transform: translate(-50%,-48%);
}

.button {
    border-style: solid black;
    padding: 15px 25px;
    font-size: 24px;
    text-align: center;
    cursor: pointer;
    outline: none;
    border: none;
    border-radius: 15px;
    box-shadow: 0 6px rgb(0, 208, 255);
  }
  
.button:active {
    box-shadow: 0 5px rgb(0, 132, 255);
    transform: translate(0%,2%);
}

.center {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.center1 {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, 0%);
}

table{
    border: 1px solid white;
    border-collapse: collapse;
    border-radius: 5%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

th{
   font-size: 2vw;
   border: 1px solid white;
   border-collapse: collapse;
   border-radius: 5%;
}

td{
    font-size: 1.5vw;
    border: 1px solid white;
    border-collapse: collapse;
    border-radius: 5%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    padding: left;
}

#leaderboard1{
    position:relative;
    width: 100%;
    align-items: center;
    font-size: 200%;
    margin-top: 4%;
}

.modal {
    z-index: 3;
    display: none;
    padding-top: 5%;
    padding-left: 5%;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(51, 34, 34);
    background-color: rgba(0, 0, 0, 0.4)
  }

  #id02{
      text-align: center;
  }

  .switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
  }
  
  /* Hide default HTML checkbox */
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  /* The slider */
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: chocolate;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px chocolate;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }